body {
    display: flex;
    flex-direction: column;
}

#container {
   text-align: center;
   padding: 4vh;
}

#date {
    color: #1d3557;
}

#day {
    font-style: italic;
}

#wordofthedayContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
}

#wordoftheday {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: #1d3557;
}

#wordDetailsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

#wordDetails {
    background-color: #457b9d;
    text-align: justify;
    border: 2px solid #1d3557;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    width: 380px;
    padding: 14px;
    color: white;

}
#partofspeech {
    font-style: italic;
    color: #1d3557;
    font-weight: 600;
    margin-bottom: 0px;
}

#synonyms {
    margin-top: 20px;
}

#loadingMsg {
    color: #1d3557;
    font-weight: 500;
    font-size: 35px;
}