body {
    display: flex;
    flex-direction: column;
}

#container {
   text-align: center;
}

#wordofthedayContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#wordoftheday {
    font-weight: 700;
    text-transform: capitalize;
    color: #1d3557;
}

#wordDetailsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

#wordDetails {
    text-align: justify;
    border: 2px solid #1d3557;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 20px;
    padding: 14px;
    padding-bottom: 0px;
}

#defintion {

}

#partofspeech {
    font-style: italic;
}

#synonyms {

}

#loadingMsg {

}